@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@theme {
  --font-source: "Source Code Pro", monospace; 
  --font-inter: "Inter", sans-serif;

}